[submodule "lib/forge-std"]
	path = fee-disposition-module/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = fee-disposition-module/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
